@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins&display=swap');

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html,
body {
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  color: white;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.intro-button {
  background-color: #7a3d7a;
  border: 0;
  color: #fff;
  cursor: pointer;
  padding: 8px;
  border-radius: 8px;
}

.messages-root {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}

.message-box {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 400px;
}

.messages {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  overflow: scroll;
  font-family: 'Montserrat', sans-serif;

  p {
    margin-bottom: 8px;
    width: 75%;

    &.message-out {
      color: #fff;
      background-color: #333;
      border-radius: 12px;
      padding: 12px;
      text-align: left;
    }

    &.message-in {
      background-color: #7a3d7a;
      border-radius: 12px;
      padding: 12px;
      align-self: flex-end;
      text-align: right;
    }

    &.inactive {
      font-size: 16px;
    }

    &.active {
      color: white;
      font-size: 16px;
      margin-bottom: 16px;
    }
  }

  .inventory-root {
    width: 100%;
    background-color: #000;
    border-radius: 12px;
    padding: 8px;
    padding-bottom: 50px;
    .title {
      display: block;
      width: 100%;
      text-align: center;
      font-size: 24px;
      font-weight: 700;
    }
    dl {
      margin-left: 8px;
      dt {
        font-size: 16px;
        display: inline-block;
        margin-right: 8px;
        font-weight: 700;
      }
      dd {
        font-size: 12px;
        display: inline-block;
      }
    }
  }
}
